<!doctype <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dreadnought</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/splash.css">

    <link rel="apple-touch-icon" sizes="57x57" href=images/favicons/apple-icon-57x57.png"> <link rel="apple-touch-icon"
        sizes="60x60" href="images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/favicons/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png">
    <link rel="manifest" href="images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <div id="redWarning">
        <h1>Please Resize the Browser!</h1>
    </div>
    <header>
        <!-- This div will contain the statistict. -->
        <div id="gamesPlayed">
            <p>Total Games Played: <%= gamesInitialized %></p>
        </div>
        <div id="gamesCompleted">
            <p>Games Completed: <%= gamesCompleted %></p>
        </div>
        <div id="timesVisited">
            <p>Your Total Page Visits: <%= pageVisits%></p>
        </div>
    </header>
    <main>
        <!--This div will contain the logo-->
        <div>
            <img id="animated_logo" src="images/Battleship Logo.png"></img>
        </div>
        <div id="help">
            <ol>
                <li>1. Click Play</li>
                <li>2. Join Random Game</li>
                <li>3. Click to Place Ships</li>
                <li>4. Click on Grid to Shoot</li>
            </ol>
        </div>
        <!--This div will contain the Join button-->
        <form action="/game" method="get">
            <button type="submit" id="btn_play">PLAY</button>
        </form>
        <!--This div will contain the Help button-->
        <div>
            <button type="button" onclick="showHelp()" id="btn_help">?</button>
            <!--Help for the game-->
            <div></div>
        </div>
    </main>
    <footer>
        <p>Kalin Kostadinov and Diego</p>
    </footer>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="/javascript/splash.js"></script>
</body>

</html>